@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Lato:wght@300&family=Ubuntu:wght@300&display=swap');

:root {
    --main-bg-color: rgb(37 83 122);
  }

*{
    margin: 0;padding: 0;
}

header{
    background-color: var(--main-bg-color);
    height: 58px;
    /* font-family: 'Lato', sans-serif; */
}

nav ul{
    display: flex;
    justify-content: flex-start;
    height: 58px;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 23px;
}

.search{
    display: flex;
    align-items: center;
    /* width: auto; */
}

.search input{
    width: 350px;
    height: 22px;
    margin:0 15px 0 45px;
    border-radius: 5px;
    padding: 0 7px;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    /* text-decoration: none; */
    color: pink;
    font-weight: bold;
}

.container1{
    min-height: calc(100vh - 58px - 12vh);
}

.slider{
    /* display: block; */
    margin: auto;
    width: 78vw;
    margin: 8px auto;
    /* background-image: url(dogadotion1.jpg); */
}

.card{
    max-width: 91vw;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;

}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    border: 1px dashed green;
    margin: 0 28px 28px 28px;
}
.card h2{
    font-family: 'Ubuntu', sans-serif;
    /* margin: 26px 0; */
}

.lines h3{
    color: var(--main-bg-color);
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}
